
@{
        ViewData["Title"] = "Đăng nhập quản trị admin";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-page-admin">
        <div class="list-work">
                <div class="list-work_item">
                    <a href="~/Products/MaintaintProducts" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì sản phẩm
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì danh mục
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì danh mục con
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì nsx
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì giỏ hàng
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì đơn hàng
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì slide
                    </a>
                </div>
                 <div class="list-work_item">
                    <a href="#" class="work_item-link">
                        <i class="fa fa-chevron-right work_item-icon" aria-hidden="true"></i>
                        Bảo trì tài khoản
                    </a>
                </div>
            </div>
</div>